In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df1 = pd.read_csv("ADD FILE PATH", quoting = True)
df1.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [3]:
df2 = pd.read_csv("ADD FILE PATH")
df2.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [4]:
print(df1.isnull().sum())
print(" ")
print(df2.isnull().sum())

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

movie_id    0
title       0
cast        0
crew        0
dtype: int64

In [5]:
df1.dropna(subset = ['homepage', 'tagline'], inplace = True)
print(df1.isnull().sum())

budget                  0
genres                  0
homepage                0
id                      0
keywords                0
original_language       0
original_title          0
overview                0
popularity              0
production_companies    0
production_countries    0
release_date            0
revenue                 0
runtime                 0
spoken_languages        0
status                  0
tagline                 0
title                   0
vote_average            0
vote_count              0
dtype: int64

In [6]:
df1 = df1.drop(['budget','homepage','original_title','original_language','popularity','production_companies','production_countries','release_date','revenue','runtime','spoken_languages','status','tagline','vote_average','vote_count'], axis=1)

In [7]:
df1 = df1[['id', 'title', 'genres', 'overview', 'keywords']]
final = df1.merge(df2, left_on='id', right_on= 'movie_id')[['title_x','genres','keywords','overview','cast','crew']]
df1.head()

,id,title,genres,overview,keywords
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Captain Barbossa, long believed to be dead, ha...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",A cryptic message from Bond’s past sends him o...,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name..."
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",Following the death of District Attorney Harve...,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,..."
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","John Carter is a war-weary, former military ca...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":..."

In [8]:
final.shape

(1493, 6)

In [9]:
import ast
x = final.iloc[0,1]
print(x)
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [10]:
def clean_text(text):
    x = []
    for i in ast.literal_eval(text):
        x.append(i['name'])
    y = x[:]
    return(y) 
final['genres']=final['genres'].apply(clean_text)
final['keywords']=final['keywords'].apply(clean_text)

def clean_cast(text):
    x = []
    counter = 0
    for i in ast.literal_eval(text):
        x.append(i['name'])
        counter = counter + 1;
        if counter == 3:
            break
    y = x[:]
    return(y)
final['cast']=final['cast'].apply(clean_cast)

In [11]:
final.shape

(1493, 6)

In [12]:
def clean_crew(text):
    x = []
    for i in ast.literal_eval(text):
        if i['job'] == "Director":
            x.append(i['name'])
    y = x[:]
    return(y) 
final['crew']=final['crew'].apply(clean_crew)

In [13]:
final = final.rename(columns={"crew":"director"})
print(final.shape)
print(" ")
print(final.iloc[233,3])

(1493, 6)

Vietnam veteran 'Four Leaf' Tayback's memoir, Tropic Thunder, is being made into a film, but Director Damien Cockburn can’t control the cast of prima donnas. Behind schedule and over budget, Cockburn is ordered by a studio executive to get filming back on track, or risk its cancellation. On Tayback's advice, Cockburn drops the actors into the middle of the jungle to film the remaining scenes but, unbeknownst to the actors and production, the group have been dropped in the middle of the Golden Triangle, the home of heroin-producing gangs.

In [14]:
def remove_spaces(L):
    x=[]
    for i in L:
        x.append(i.replace(" ",""))
    y = x[:]
    return y
final['genres']= final['genres'].apply(remove_spaces)
final['cast']= final['cast'].apply(remove_spaces)
final['director']= final['director'].apply(remove_spaces)
final['keywords']= final['keywords'].apply(remove_spaces)
final['overview']= final['overview'].apply(remove_spaces)

In [23]:
print(final.iloc[233,3])

['V', 'i', 'e', 't', 'n', 'a', 'm', '', 'v', 'e', 't', 'e', 'r', 'a', 'n', '', "'", 'F', 'o', 'u', 'r', '', 'L', 'e', 'a', 'f', "'", '', 'T', 'a', 'y', 'b', 'a', 'c', 'k', "'", 's', '', 'm', 'e', 'm', 'o', 'i', 'r', ',', '', 'T', 'r', 'o', 'p', 'i', 'c', '', 'T', 'h', 'u', 'n', 'd', 'e', 'r', ',', '', 'i', 's', '', 'b', 'e', 'i', 'n', 'g', '', 'm', 'a', 'd', 'e', '', 'i', 'n', 't', 'o', '', 'a', '', 'f', 'i', 'l', 'm', ',', '', 'b', 'u', 't', '', 'D', 'i', 'r', 'e', 'c', 't', 'o', 'r', '', 'D', 'a', 'm', 'i', 'e', 'n', '', 'C', 'o', 'c', 'k', 'b', 'u', 'r', 'n', '', 'c', 'a', 'n', '’', 't', '', 'c', 'o', 'n', 't', 'r', 'o', 'l', '', 't', 'h', 'e', '', 'c', 'a', 's', 't', '', 'o', 'f', '', 'p', 'r', 'i', 'm', 'a', '', 'd', 'o', 'n', 'n', 'a', 's', '.', '', 'B', 'e', 'h', 'i', 'n', 'd', '', 's', 'c', 'h', 'e', 'd', 'u', 'l', 'e', '', 'a', 'n', 'd', '', 'o', 'v', 'e', 'r', '', 'b', 'u', 'd', 'g', 'e', 't', ',', '', 'C', 'o', 'c', 'k', 'b', 'u', 'r', 'n', '', 'i', 's', '', 'o', 'r', 'd', 'e', 'r', 'e', 'd', '', 'b', 'y', '', 'a', '', 's', 't', 'u', 'd', 'i', 'o', '', 'e', 'x', 'e', 'c', 'u', 't', 'i', 'v', 'e', '', 't', 'o', '', 'g', 'e', 't', '', 'f', 'i', 'l', 'm', 'i', 'n', 'g', '', 'b', 'a', 'c', 'k', '', 'o', 'n', '', 't', 'r', 'a', 'c', 'k', ',', '', 'o', 'r', '', 'r', 'i', 's', 'k', '', 'i', 't', 's', '', 'c', 'a', 'n', 'c', 'e', 'l', 'l', 'a', 't', 'i', 'o', 'n', '.', '', 'O', 'n', '', 'T', 'a', 'y', 'b', 'a', 'c', 'k', "'", 's', '', 'a', 'd', 'v', 'i', 'c', 'e', ',', '', 'C', 'o', 'c', 'k', 'b', 'u', 'r', 'n', '', 'd', 'r', 'o', 'p', 's', '', 't', 'h', 'e', '', 'a', 'c', 't', 'o', 'r', 's', '', 'i', 'n', 't', 'o', '', 't', 'h', 'e', '', 'm', 'i', 'd', 'd', 'l', 'e', '', 'o', 'f', '', 't', 'h', 'e', '', 'j', 'u', 'n', 'g', 'l', 'e', '', 't', 'o', '', 'f', 'i', 'l', 'm', '', 't', 'h', 'e', '', 'r', 'e', 'm', 'a', 'i', 'n', 'i', 'n', 'g', '', 's', 'c', 'e', 'n', 'e', 's', '', 'b', 'u', 't', ',', '', 'u', 'n', 'b', 'e', 'k', 'n', 'o', 'w', 'n', 's', 't', '', 't', 'o', '', 't', 'h', 'e', '', 'a', 'c', 't', 'o', 'r', 's', '', 'a', 'n', 'd', '', 'p', 'r', 'o', 'd', 'u', 'c', 't', 'i', 'o', 'n', ',', '', 't', 'h', 'e', '', 'g', 'r', 'o', 'u', 'p', '', 'h', 'a', 'v', 'e', '', 'b', 'e', 'e', 'n', '', 'd', 'r', 'o', 'p', 'p', 'e', 'd', '', 'i', 'n', '', 't', 'h', 'e', '', 'm', 'i', 'd', 'd', 'l', 'e', '', 'o', 'f', '', 't', 'h', 'e', '', 'G', 'o', 'l', 'd', 'e', 'n', '', 'T', 'r', 'i', 'a', 'n', 'g', 'l', 'e', ',', '', 't', 'h', 'e', '', 'h', 'o', 'm', 'e', '', 'o', 'f', '', 'h', 'e', 'r', 'o', 'i', 'n', '-', 'p', 'r', 'o', 'd', 'u', 'c', 'i', 'n', 'g', '', 'g', 'a', 'n', 'g', 's', '.']

In [24]:
final['final_data']= final['genres']+final['keywords']+final['overview'] + final['cast'] + final['director']
final= final[['title_x','final_data']]
final.head()

,title_x,final_data
0,Avatar,"[Action, Adventure, Fantasy, ScienceFiction, c..."
1,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action, ocean, drugabuse,..."
2,Spectre,"[Action, Adventure, Crime, spy, basedonnovel, ..."
3,The Dark Knight Rises,"[Action, Crime, Drama, Thriller, dccomics, cri..."
4,John Carter,"[Action, Adventure, ScienceFiction, basedonnov..."

In [26]:
final.iloc[0,1]

['Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d',
 'I',
 'n',
 '',
 't',
 'h',
 'e',
 '',
 '2',
 '2',
 'n',
 'd',
 '',
 'c',
 'e',
 'n',
 't',
 'u',
 'r',
 'y',
 ',',
 '',
 'a',
 '',
 'p',
 'a',
 'r',
 'a',
 'p',
 'l',
 'e',
 'g',
 'i',
 'c',
 '',
 'M',
 'a',
 'r',
 'i',
 'n',
 'e',
 '',
 'i',
 's',
 '',
 'd',
 'i',
 's',
 'p',
 'a',
 't',
 'c',
 'h',
 'e',
 'd',
 '',
 't',
 'o',
 '',
 't',
 'h',
 'e',
 '',
 'm',
 'o',
 'o',
 'n',
 '',
 'P',
 'a',
 'n',
 'd',
 'o',
 'r',
 'a',
 '',
 'o',
 'n',
 '',
 'a',
 '',
 'u',
 'n',
 'i',
 'q',
 'u',
 'e',
 '',
 'm',
 'i',
 's',
 's',
 'i',
 'o',
 'n',
 ',',
 '',
 'b',
 'u',
 't',
 '',
 'b',
 'e',
 'c',
 'o',
 'm',
 'e',
 's',
 '',
 't',
 'o',
 'r',
 'n',
 '',
 'b',
 'e',
 't',
 'w',
 'e',
 'e',
 'n',
 '',
 'f',
 'o',
 'l',
 'l',
 'o',
 'w',
 'i',
 'n',
 'g',
 '',
 'o',
 'r',
 'd',
 'e',
 'r',
 's',
 '',
 'a',
 'n',
 'd',
 '',
 'p',
 'r',
 'o',
 't',
 'e',
 'c',
 't',
 'i',
 'n',
 'g',
 '',
 'a',
 'n',
 '',
 'a',
 'l',
 'i',
 'e',
 'n',
 '',
 'c',
 'i',
 'v',
 'i',
 'l',
 'i',
 'z',
 'a',
 't',
 'i',
 'o',
 'n',
 '.',
 'SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'JamesCameron']

In [27]:
def list_to_string(L):
    str=" "
    return (str.join(L))
    
final['final_data'] = final['final_data'].apply(list_to_string)
final.head()

,title_x,final_data
0,Avatar,Action Adventure Fantasy ScienceFiction cultur...
1,Pirates of the Caribbean: At World's End,Adventure Fantasy Action ocean drugabuse exoti...
2,Spectre,Action Adventure Crime spy basedonnovel secret...
3,The Dark Knight Rises,Action Crime Drama Thriller dccomics crimefigh...
4,John Carter,Action Adventure ScienceFiction basedonnovel m...

In [28]:
final.iloc[0,1]

'Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d I n  t h e  2 2 n d  c e n t u r y ,  a  p a r a p l e g i c  M a r i n e  i s  d i s p a t c h e d  t o  t h e  m o o n  P a n d o r a  o n  a  u n i q u e  m i s s i o n ,  b u t  b e c o m e s  t o r n  b e t w e e n  f o l l o w i n g  o r d e r s  a n d  p r o t e c t i n g  a n  a l i e n  c i v i l i z a t i o n . SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [29]:
final['final_data'] = final['final_data'].apply(lambda x:x.lower())
final.head()

,title_x,final_data
0,Avatar,action adventure fantasy sciencefiction cultur...
1,Pirates of the Caribbean: At World's End,adventure fantasy action ocean drugabuse exoti...
2,Spectre,action adventure crime spy basedonnovel secret...
3,The Dark Knight Rises,action crime drama thriller dccomics crimefigh...
4,John Carter,action adventure sciencefiction basedonnovel m...

In [30]:
final.iloc[0,1]

'action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d i n  t h e  2 2 n d  c e n t u r y ,  a  p a r a p l e g i c  m a r i n e  i s  d i s p a t c h e d  t o  t h e  m o o n  p a n d o r a  o n  a  u n i q u e  m i s s i o n ,  b u t  b e c o m e s  t o r n  b e t w e e n  f o l l o w i n g  o r d e r s  a n d  p r o t e c t i n g  a n  a l i e n  c i v i l i z a t i o n . samworthington zoesaldana sigourneyweaver jamescameron'

In [31]:
from sklearn.feature_extraction.text import CountVectorizer
cv= CountVectorizer(stop_words='english', max_features=5000 )
X = cv.fit_transform(final['final_data']).toarray()

In [32]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_matrix = cosine_similarity(X)

In [72]:
def recommend(movie):
    # recommend closest recommendations
    movie_index = final[final['title_x'] == movie].index[0]
    similarity_scores = similarity_matrix[movie_index]
    values = sorted(list(enumerate(similarity_scores)),reverse=True,key=lambda x:x[1])
    count = 0
    for i in values:
        count+=1
        if(count == 26):
            break
        print(final.iloc[i[0]].title_x)

In [73]:
recommend("Avengers: Age of Ultron")

Avengers: Age of Ultron
The Avengers
Captain America: Civil War
Ant-Man
Thor: The Dark World
Iron Man 2
Iron Man 3
Captain America: The Winter Soldier
Iron Man
The Wolverine
Thor
Fantastic Four
Captain America: The First Avenger
Guardians of the Galaxy
X-Men Origins: Wolverine
Deadpool
X-Men: First Class
Journey 2: The Mysterious Island
Terminator Genisys
The Amazing Spider-Man 2
Pacific Rim
X-Men: Apocalypse
Teenage Mutant Ninja Turtles
Man of Steel
Green Lantern